/* Application theme colours */
:root {
    --mainbackgroundcolour: #251D3A;
    --secondarybackgroundcolour: #2A2550;
    --bordercolour: #FF7700;
    --buttoncolour: #FFB97C;
    --textcolour: #EAEAEA;
}

body {
    height: 100%;
    width: 100%;
    background-color: var(--mainbackgroundcolour);
    color: var(--textcolour);
    border-color: var(--bordercolour);
    overflow-x: hidden;
}

header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 5%; */

}

.app-title {
    font-size: 5rem;
    position: relative;
}

#icon-img {
    float: right;
    margin-top: -7%;
}

.input {
    width: 22rem;
    margin-bottom: 1.5rem;
}



.button {
    width: 22rem;
}

.is-child {
    background-color: var(--secondarybackgroundcolour);
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.has-text-centered {
    display: flex;
}

.enable-line-break {
    white-space: pre-wrap;
}

.footer {
    background-color: var(--mainbackgroundcolour);
}

.footer-text {
    justify-items: center;
}

.title,
.subtitle,
.content,
.footer {
    color: var(--textcolour);
}

#youtubeContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.youtubeVideo {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 998px) {
    body {
        width: 100%;
    }

    .app-title {
        text-align: center;
        margin-bottom: -3%;
    }

    #icon-img {
        margin: 0 25% 0 35%; 
        float: none; 
    }

    #user-form {
        justify-content: center;
        align-items: center;
    }

    .input,
    .button {
        margin: 0 25% 2% 30%;
    }

    #ancestor-tile {
        width: 100%;
        margin: 0
    }
}

@media screen and (max-width: 768px) {
    body {
        width: 100%;
    }
    
    .app-title {
        text-align: center;
        margin-bottom: -3%;
    }

    #icon-img {
        float: none;
        margin: 0 25% 0 33%;
    }

    .input,
    .button {
        margin: 0 25% 2% 30%;
    }

    .input {
        width: 323px;
    }

    #ancestor-tile {
        width: 100%;
        margin: 0;
    }
}


@media screen and (max-width: 567px) {
    .app-title  {
        text-align: center;
        margin-bottom: -3%;
    }

    #icon-img {
        float: none;
        margin: 0 25% 0 26%;
    }

    .input,
    .button {
        margin: 0 25% 2% 30%;
    }

    .input {
        width: 238px;
    }

    #ancestor-tile {
        width: 100%;
        margin: 0;
    }

    .footer-text {
        margin-right: 2.5rem
    }
}